<div class="container">
	<form class="loginForm" action="/login" method="POST">
		<div class="form-group">
			<label for="username">Username:</label>
			<input
				type="text"
				id="username"
				name="username"
				class="form-control my-input"
			/>
		</div>

		<div class="form-group">
			<label for="password">Password:</label>
			<input
				type="password"
				id="password"
				name="password"
				class="form-control my-input"
			/>
		</div>

		<input type="submit" value="Log in" class="btn btn-primary my-button" />
	</form>
	{{#if message}}
		<p class="alert alert-danger mt-3">{{message}}</p>
	{{/if}}
</div>